<strong>hello, {{deliveryman}}</strong>
<p>there is a cancelled package that will not be delivered anymore</p>
<p>check the details below:</p>
<p>
  <strong>package: </strong>{{package}}<br>
  <strong>cancelation date: </strong>{{cancelation}}<br>
</p>
