<strong>hello, {{deliveryman}}</strong>
<p>it has been a package cancelation, check the details below:</p>
<p>
  <strong>package: </strong>{{package}}<br>
  <strong>cancelation date: </strong>{{cancelation}}<br>
</p>
